---
---
@import "minima";

/** Wrapper */
.wrapper { max-width: -webkit-calc(1300px - (30px * 2)); max-width: calc(1300px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }
@media screen and (max-width: 1300px) { .wrapper { max-width: -webkit-calc(1300px - (30px)); max-width: calc(1300px - (30px)); padding-right: 15px; padding-left: 15px; } }

.info {
    margin: 2em auto;
    padding: 2em;
    border: 1px solid #CCC;
    border-radius: 1.5em;
    overflow: auto;
    width: 75%;
}

